// Specific CSS for your home-page
.background-black-gradient {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(22,22,22,1) 75%, rgba(48,48,48,1) 100%);
}

p, h2, a {
  color: rgba(230, 230, 230, 0.936);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-decoration: none;
}

.card-title {
  height: 2em; // that's one line, 2em for 2 lines, etc...
  line-height: 1em; // the height of one text line
  overflow: hidden;
}
