  <div class="navbar justify-content-between bg-black">
    <div class="d-flex flex-row">
      <a href="">
        <%= link_to root_path, class: "p-0 d-flex" do %>
          <img class="navbar-brand" src="https://st3.depositphotos.com/27269280/36592/v/450/depositphotos_365929444-stock-illustration-drone-logo-concept-design-arial.jpg" alt="Drone logo" height="70px">
          <span class="align-self-center navbar-link">Sky High</span>
        <% end %>
      </a>
    </div>
    <div class="links mx-4">
      <% if user_signed_in? %>
        <span class="mx-2"><%= link_to "Dashboard", dashboards_path %></span>
        <%# div href="#" class="navbar-link">Contact</a> TODO: uncomment if implemented to lead somewhere %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-link" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "navbar-link" %>
      <% end %>
  </div>
</div>
