<div class="container">
<h1>All Drones</h1>
  <% @drones.each do |drone| %>
    <div class="card">
        <%= link_to(drone_path(drone)) do %>
        <h2><%= drone.model %></h2>
        <% end %>
        <p><strong>Description:</strong> <%= drone.description %></p>
    </div>
  <% end %>
</div>
