body {
  background-color: #000;
  color: #fff;
}


.container {
  padding: 20px;
}


.form-control, .selectpicker {
  background-color: #1a1d20;
  margin-bottom: 10px;
  border-radius: 26px;
  border: none;
  padding: 15px;
}

.form-control {
  color: #ece7e7;
}


.form-control::placeholder {
  color: #ece7e7;
}

.form-control:focus,
.form-control:focus::placeholder {
  color: #111111;
}

// .selectpicker,
// .selectpicker::placeholder {
//   color: #0f0f0f !important;
// }


.btn-primary {
  background-color: #212324;
  border-color: #f3f5f7;
  border-radius: 26px;
  margin-left: 5px;
  padding: 12px;
  border: none;

}

.input-group {
margin:0 10px;
color:#4d4d4d;
}
