body {
  background-color: #000;
  color: #fff;
}


.container {
  padding: 20px;
}


.form-control, .selectpicker {
  background-color: #1a1d20;
  margin-bottom: 10px;
  border-radius: 26px;
  border: none;
  padding: 15px;
}


.selectpicker {
  background-color: #333;
  border: 1px solid #555;
}

.form-control,
.form-control::placeholder,
.selectpicker,
.selectpicker::placeholder {
  color: #d9d9d9;
}

.form-control:focus,
.selectpicker:focus {
  color: #141414;
}


.btn-primary {
  background-color: #212324;
  border-color: #f3f5f7;
  border-radius: 26px;
  margin-left: 5px;
  padding: 15px;
  border: none;

}

.input-group {
margin:0 10px;
color:#4d4d4d;
}
